@import "bootstrap.scss";
@import "variables";

@import "layout";
@import "navbar";
@import "gallery";

.live-photo {
  margin-bottom: 1rem;
  min-width: 225px;
  height: 300px;
  // min-width: 375px;
  // min-height: 500px;
  //   width: 20%;
  //   float: left;
}
